<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lso.naing.thithizaw">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="Thin Thri Zaw"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Thin Thri Zaw"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SongActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".VideoActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoveActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>